@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai Looped", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-color: #1f1f1f;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  bottom: 2rem;
  border: 0.8px #fff solid;
  padding: 0.5rem;
  color: #fff;
  margin-top: 1rem;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #fff;
  color: var(--bg-color);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background: #0f0f0f;
  color: #fff;
  padding: 1.2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav ul li {
  transition: all 200ms ease;
}

nav h1 {
  font-size: 1.75rem;
}

nav ul li:hover {
  transform: rotateZ(-10deg);
}

footer {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer h3 {
  font-size: 1.75rem;
}

footer p {
  transition: all 200ms ease;
}

footer a {
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 200ms ease;
}

footer a:hover,
footer p:hover {
  transform: translateY(-5px);
}

form.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form.comment input {
  text-indent: 1rem;
  padding: 2rem;
  width: 50%;
  font-size: 1rem;
}

form.comment button {
  height: 200%;
}

form.comment .send {
  background-color: rgb(37, 37, 165);
  padding: 1.87rem;
  transition: all 200ms ease;
}

form.comment .send:hover {
  background-color: #dadada;
  color: rgb(37, 37, 165);
  cursor: pointer;
}
