nav {
    display: flex;
    justify-content: space-evenly;
    background: #0f0f0f;
    color: #fff;
    padding: 1.2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul li {
   transition: all 200ms ease;
}

nav h1 {
    font-size: 1.75rem;
}

nav ul li:hover {
    transform: rotateZ(-10deg);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.466)), url("./piano.jpg");
    padding: 150px 0;
    transition: background 500ms ease;
}

header h2 {
    font-size: 3.5rem;
    transition: all 500ms ease;
}

header p {
    font-size: 1.2rem;
    transition: all 500ms ease;
}

main .splitcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 350px;
}

main .split1 {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
    position: relative;
}

main .split1 h3 {
    font-size: 2rem;
}

main .split1 button {
    position: absolute;
    bottom: 1rem;
    border: 0.8px #fff solid;
    padding: .5rem;
    color: #fff;
}

main .split1 button:hover {
    background-color: #fff;
    color: #1f1f1f;
}

main .split2 {
    background-color: purple;
}