header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.466)),
    url("https://cdn.shopify.com/s/files/1/0282/2789/5427/files/Piano_mechanisms-upright_vs_grand_2_b0ee1779-2570-409b-a100-90107b3de20c.jpg?v=1579258972");
  background-position: center;
  background-size: cover;
}

header p {
  font-size: 1.3rem;
  text-align: center;
}

header h2 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  align-self: center;
  margin-top: 3%;
  padding: 1rem 3rem;
  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.795),
    rgb(27, 27, 27),
    rgba(0, 0, 0, 0.795)
  );
}

main article h3 {
  font-size: 2rem;
}

main section {
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

main section aside {
  padding: 3rem;
}

main section aside h3 {
  font-size: 2rem;
}

main section aside p {
  font-size: 1.2rem;
}

main section.c2 {
  text-align: right;
}

aside h4 {
  font-size: 1.5rem;
}

main section aside ul {
  margin-left: 2rem;
}